{% extends "layout.html" %}
{% block content %}
  <div class="about">
    <div class = "summary-image" ><img src="/static/images/photo.jpg" alt="Profile Photo" width="200px" height="150px" style="border-radius: 20%; vertical-align: middle;" >  </div>
    <div class = "summary-item">I lead the Data Science initiatives at Innovation Finance USA, a tech disrupter in equipment finance industry. My 6+ years of professional experince has primarily been with startups in tech and finance. 
      <p>Within Financial Services, I am witnessing that Data Science is at the cusp of a massive transformation. For future leaders in this space, it is crucial to have a functional knowledge of the entire tech production pipeline while also having fundamental knowledge of the finance industry. I have a fairly entensive background in finance and am on a constant endavour to widen the extent of my technical expertise. </p>
      <p>I stay with my wife in Boston, MA having migrated to the US in 2018 from my hometown Mumbai, India. I am very passionate about sports. I enjoy reading, cooking, and photography.</p>
    </div>
  </div>
  <div class="about">
    <div class = "detail-image" ><img src="/static/images/desk.png" alt="Profile Photo" width="100px" height="100px" style="border-radius: 40%; vertical-align: middle;" ></div>
    <div class = "summary-item">
      •VP, Data Science: Dec-2019 till date
      <br>Credit Risk Modeling, Financial Analysis, Testing Automation
      <p>
        •Associate, Investment Banking Division: Feb-2016 to July-2018
        <br>Investment Analysis, Equity Valuation, Mergers and Acquisitions
      </p>
      <p>
        •Relationship Manager, Private Banking Group: May-2015 to Jan-2016
        <br>Wealth Management, Digital Banking
      </p>      
      <p>
        •Associate Manager, Key Accounts: Feb-2012 to May-2013
        <br>Customer Relationship Management
      </p>
      •Team Lead, Content Management: Aug-2011 to Jan-2012
      <br>Web Services and Content Management
    </div>
  </div>
  <div class="about">
    <div class = "detail-image" ><img src="/static/images/education.png" alt="Profile Photo" width="100px" height="100px" style="border-radius: 40%; vertical-align: middle;" >  </div>
    <div class = "summary-item">•MS, Computational Finance: Aug-2018 to Dec-2019
      <br>Rochester Institute of Technology, Rochester, NY
      <p>
        •MBA, Capital Markets: June-2013 to May-2015
        <br>Narsee Monjee Institute of Management, Mumbai, India
      </p>
      <p>
        •BE (Hons.) Mechanical Engineering: Aug-2007 to Jul-2011
        <br>Birla Institute of Technology and Sciences, Pilani
    </div>
  </div>
 {% endblock %}