{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1>"With Big Data comes great responsibility..."</h1> <!-- Code for adding a Quote of the Day-->
    <p>The magic begins here....
      asdasdas</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
  </div>
{% endblock %}
