{% extends "layout.html" %}
{% block content %}
   <div class="blog">
     <h1>My Projects</h1>
     <p>My work.
    </p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
    <p>asdasdasd</p>
   </div>
 {% endblock %}